//! **************************************************************************
// Written by: Map P.28xd on Mon Dec 07 11:49:00 2015
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "seven<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "seven<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "seven<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "seven<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seven<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "seven<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "seven<6>" LOCATE = SITE "T17" LEVEL 1;
SCHEMATIC END;

